<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Película</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.old ? old.title : null %>" required ></p>
            <% if (locals.errors && errors.title) { %>
                <span class="error-message"><%= errors.title.msg %> </span>
            <% } %>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.old ? old.rating : null %>" required > </p>
            <% if (locals.errors && errors.rating) { %>
                <span class="error-message"><%= errors.rating.msg %> </span>
            <% } %>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" ></p>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.old ? old.release_date : null %>" required ></p>
            <% if (locals.errors && errors.release_date) { %>
                <span class="error-message"><%= errors.release_date.msg %> </span>
            <% } %>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= locals.old && old.length ? old.length : null %>" required ></p>
            <% if (locals.errors && errors.length) { %>
                <span class="error-message"><%= errors.length.msg %> </span>
            <% } %>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>